html {
  overflow-x: hidden;
}

body{
  background: url(../img/blank_paper.jpg) repeat center center fixed !important; 
  background-size: 100% auto !important;
  background-repeat: repeat !important;
  font-family: Serif, Helvetica, Courier;
}

.body-container {
  margin-top: 5% !important;
}

#form-main {
  margin-bottom: 0%;
}

.jumbotron {
    height: 450px;
    color: white;
    width: 100%;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
	url(../img/resume.jpg) repeat center center fixed !important;
	background-size: auto 100%!important;
	background-repeat: no-repeat !important;	
}

.jumbotron h1 {
    text-align: center;
    margin-top: 100px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.jumbotron p {
    text-align: center;
    margin-top: 20px;
    font-family: "garamond-premier-pro";
    font-style: italic;
    font-weight: 500;
}

.btn {
  margin-top: 5%;
  border: solid 1px #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

.body h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 75px;
    color: #000000;
    text-align: center;
}

.body h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
	margin-left: 10%;
}

.body p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 25px;
    color: #000000;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 2%;
}

.body ul {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    margin-left: 15%;
    padding-bottom: 2%;
}

.info table {

}

table.info {
    margin-left:auto; 
    margin-right:auto;
}

table#info {
    width:100%; 
    margin-left:0%; 
    margin-right:0%;
}

.info p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
	margin-top: 10px;
    color: #000000;
    margin-left: 2.5%;
}

.info ul {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    margin-left: 5%;
    padding-bottom: 2%;
} 

.footer {
  bottom: 0;
  width: 100%;
  background-color: #000000;
}

.footer i{
	color: #FFFFFF
}

.bottom-footer {
    list-style: none;
    margin: 0 auto;
    position: relative;
    display: block;
    padding-top: 10px;
    padding-left: 0;
    float: left;

}

.bottom-footer li {
    display: inline;
    margin-left: 5px;
}

.container-footer {
    margin-left: 20px;
}
  
/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px)
{
} */

/* Extra Small Devices, Phones */
/*@media only screen and (min-width : 480px)
{
}

/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px)
{
} */

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px)
{
} */

/* Large Devices, Wide Screens */
/*@media only screen and (min-width : 1200px)
{
 } */